<div class="container">
  <h1>Form Upload </h1>
  <section>
    <form action="" (submit)="save()" [formGroup]="formUpload">
      <p>
        <label for="NameFile">Name File
          <input type="text" name="NameFile" id="NameFile" placeholder="Name File" formControlName="NameFile">
        </label>
      </p>
      <p>
        <label for="upload">File Upload
          <input type="file" name="upload" (change)="OnUploadFile($event)" id="upload">
        </label>
      </p>
      <p>
        <button type="submit" [disabled]="!formUpload.valid"> Envoyer </button>
      </p>
    </form>
    <!-- <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgVFRYZGRgZHBgYGBwYGhgYGBoYGBgaGhoZGBgcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHBISGjQh...3000 more characters" /> -->

    <h1>
      Liste des files
    </h1>
    <ul>
      <li *ngFor="let item of items">
        {{ item.name }}
        {{ item.fileType }}
        <p *ngIf="item.fileType.indexOf('image') != -1">
          <img src="{{item.fileContent}}">
        </p>
       <button (click)="OpenFile(item)">
        Open File
       </button>
    </ul>
  </section>
</div>