<div class="container">
  <h1>Form Upload </h1>
  <section>
    <form action="" (submit)="save()" [formGroup]="formUpload" >
      <p>
        <label for="NameFile">Name File
        <input type="text" name="NameFile" id="NameFile" placeholder="Name File" formControlName="NameFile">
      </label>
      </p>
      <p>
        <label for="upload">File Upload
        <input type="file" name="upload" (change)="OnUploadFile($event)" id="upload">
      </label>
      </p>
      <p>
        <button type="submit" [disabled]="!formUpload.valid"> Envoyer </button>
      </p>
    </form>
  </section>
</div>